@font-face {/*Importa la fuente Tw Cen MT*/
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: normal;
    src: local('Tw Cen MT'), url('Tw Cen MT.woff') format('woff');
}
*{font-family:Tw Cen MT;}/*Cambia la fuente*/
html{
    background-color:black;
    color:white;
}
img{width:100%;height:10vh;}/*Ajusta el ancho y altura de la imagen*/
iframe{width:100%;}/*Ajusta el ancho del mapa*/
h1{/*Título*/
    text-align:center;/*Centra el texto*/
    color:skyblue;/*Cambia el color*/
}
nav li{/*Elementos de la lista del nav*/
    display:inline-flex;/*Maquetación con flex*/
    padding:1em;/*Da un margen*/
    
    border-radius:20%;/*Redondea el borde*/
    width:15vw;
}
nav li:nth-child(odd){background-color:rgb(212,175,55);}/*Cambia el color de fondo de los elementos de la lista del nav impares con RGB*/
nav li:nth-child(even){background-color:green;}/*Cambia el color de fondo de elementos de la lista del nav pares con RGB*/
nav li a{/*Enlaces de los elementos de la lista del nav*/
    color:aqua;/*Cambia el color*/
    text-decoration:none;/*Quita el subrayado*/
    text-align:center;/*Centra el texto*/
    text-shadow:1px 1px black;/*Da una sombra*/
}
nav li a:hover{/*Enlaces de los elementos de la lista del nav al poner el cursor encima*/
    color:lightgreen;/*Cambia el color*/
    text-shadow: 1px 1px black;/*Da una sombra*/
    font-style:italic;/*Cambia la fuente a cursiva*/
}
#contacto,#iconos{/*Divs #contacto e #iconos*/
    display:inline-block;/*Muestra los divs uno al lado de otro*/
    width:48vw;/*Ajusta la longitud*/
}
#iconos img{/*Iconos*/
    width:32px;/*Ajusta el ancho*/
    height:32px;/*Ajusta la altura*/
}
#iconos li{/*Iconos*/
    display:inline-flex;/*Muestra los iconos uno al lado de otro*/
}
h2{color:aqua;}/*Cambia el color de los h2*/
article{/*Artículos*/
    display:inline-flex;/*Muestra los artículos uno al lado de otro*/
    width:32vw;/*Ajusta la longitud*/
    border: 1px solid orangered;/*Da un borde*/
    border-radius:5%;/*Redondea el borde*/
}
article h2{padding:1em;}/*Da un margen a los h2 de los artículos*/
@media(min-width:1024px){/*Reglas aplicadas a un ancho de 1024px mínimo*/
    nav li{/*Elementos de la lista del nav*/
        flex-direction:row;/*Muestra los elementos uno al lado de otro*/
        width:16vw;/*Ajusta la longitud*/
}
}
@media(max-width:480px){/*Reglas aplicadas a un ancho de 480px máximo*/
    nav li a{text-shadow:none;}/*Quita la sombra a los enlaces de la lista del nav*/

    nav li{/*Elementos de la lista del nav*/
        width:100%;/*Ajusta el ancho*/
        border-radius:0;/*Quita el redondeo del borde*/
}
    nav{background-color:rgb(212,175,55);}/*Cambia el color de fondo del nav con RGB*/
    #iconos li{display:block;}/*Muestra los iconos uno debajo de otro*/
    #iconos img{/*Iconos*/
        width:32px;/*Ajusta el ancho*/
        height:32px;/*Ajusta la altura*/
}
        article{/*Artículos*/
            display:block;/*Muestra los artículos uno debajo de otro*/
            width:100%;/*Ajusta la longitud*/
}
}