@font-face {/*Importa la fuente Tw Cen MT*/
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: normal;
    src: local('Tw Cen MT'), url('Tw Cen MT.woff') format('woff');
}
*{font-family:Tw Cen MT;}/*Cambia la fuente*/
img{width:245px;height:138px;}/*Ajusta el ancho y altura de las imágenes*/
#video{width:720px;height:405px;}/*Ajusta el ancho y altura del vídeo*/
h1{/*Título*/
    text-align:center;/*Centra el texto*/
    color:skyblue;/*Cambia el color*/
    
}
html{
    background-color:black;
    color:white;
}
h2{color:aqua;}/*Cambia el color*/
nav li{/*Elementos de la lista del nav*/
    display:inline-flex;/*Maquetación con flex*/
    padding:1em;/*Da un margen*/
    border-radius:20%;/*Redondea el borde*/
    width:15vw;/*Ajusta el ancho*/
}
nav li:nth-child(odd){background-color:rgb(212,175,55);}/*Cambia el color de fondo de los elementos de la lista del nav impares con RGB*/
nav li:nth-child(even){background-color:green;}/*Cambia el color de fondo de elementos de la lista del nav pares con RGB*/
nav li a{/*Enlaces de los elementos de la lista del nav*/
    color:aqua;/*Cambia el color*/
    text-decoration:none;/*Quita el subrayado*/
    text-align:center;/*Centra el texto*/
    text-shadow:1px 1px black;/*Da una sombra*/
}
nav li a:hover{/*Enlaces de los elementos de la lista del nav al poner el cursor encima*/
    color:lightgreen;/*Cambia el color*/
    text-shadow: 1px 1px black;/*Da una sombra*/
    font-style:italic;/*Cambia la fuente a cursiva*/
}
@media(max-width:480px){/*Reglas aplicadas a un ancho de 480px máximo*/
    iframe{width:465px;height:240px}/*Ajusta el ancho y altura del vídeo*/
    nav li a{text-shadow:none;}/*Quita la sombra a los enlaces de la lista del nav*/

    nav li{/*Enlaces de los elementos de la lista del nav*/
        width:100%;/*Ajusta el ancho*/
        border-radius:0;/*Quita el redondeo del borde*/
}
    nav{background-color:rgb(212,175,55);}/*Cambia el color de fondo del nav con RGB*/
    img{width:400px;height:225px;}/*Ajusta el ancho y altura de las imágenes*/
    #video{width:427px;height:240px;}/*Ajusta el ancho y altura del vídeo*/
}